# Numerical / scientific
numpy<2
scipy
pandas
matplotlib

# Reinforcement Learning
gymnasium==1.2.3
stable-baselines3==2.7.1

# Deep Learning
torch==2.11.0

# Physics simulation
pybullet

# TensorBoard
tensorboard==2.21.0

# Utilities
tqdm
cloudpickle
